.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    border-bottom: 1px solid grey;
}

.header__logotype-img {
    width: 150px;
    height: 48px;
}

.header__list {
    display: flex;
    gap: 30px;
    list-style: none;
}
